<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='stylesheets/form_style.css') }}"
    />
  </head>
  <body>
    <!-- the form -->
    <div class="container">
      <!-- <div class="form-group" style="margin-top: 15px">
        <button
          type="button"
          class="btn btn-secondary"
          id="home-btn"
          style="width: 550px; height: 100px; background-color:#d8d6d6; margin-top: -200px;"
        >
          Home
        </button>
      </div> -->
      <form action="{{ url_for('login') }}" method="post">
        <input type="text" name="username" placeholder="Username" required/>
        <input type="password" name="password" placeholder="Password" required/>
        <input type="submit" value="Submit" />
        <div class="form-group" style="margin-top: 15px">
          <label>New in here?</label>
          <button type="button" class="btn btn-secondary" id="switch-page-btn">
            Sign Up
          </button>
          <button type="button" class="btn btn-secondary" id="home-btn">
            Home
          </button>
        </div>
      </form>
      <div
        class="form-group d-flex align-items-center"
        style="margin-top: 15px"
      >
        <a href="{{ url_for('reset_password') }}">Forgot password?</a>
      </div>
    </div>
    <script>
      {% if error_message %}
          alert("{{ error_message }}");
      {% endif %}
      document.getElementById("switch-page-btn").addEventListener("click", function () {
          window.location.href='{{ url_for('signup') }}'
        });
      document.getElementById("home-btn").addEventListener("click", function () {
          window.location.href='{{ url_for('toHome') }}'
        });
    </script>
  </body>
</html>
