<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Signup</title>
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='stylesheets/form_style.css') }}"
    />
  </head>
  <body>
    <!-- the form -->
    <div class="container">
      <form action="{{ url_for('signup') }}" method="post">
        <input type="email" id="email" name="email" placeholder="email" required />
        <input type="text" name="username" placeholder="Username" required/>
        <input type="password" name="password" placeholder="Password" required/>
        <label for="parent" id="left">
          <input type="radio" name="role" value="parent" required />
          Parent
        </label>
        <label for="child" id="right">
          <input type="radio" name="role" value="child" required />
          Child
        </label>
        <input type="submit" value="Submit" />
        <div
          class="form-group d-flex align-items-center"
          style="margin-top: 15px"
        >
          <label>already registered?</label>
          <button
            type="button"
            class="btn btn-secondary ml-auto"
            id="switch-page-btn"
          >
            Log In
          </button>
          <button type="button" class="btn btn-secondary" id="home-btn">
            Home
          </button>
        </div>
      </form>
    </div>
    <script>
      document.getElementById("switch-page-btn").addEventListener("click", function () {
          window.location.href='{{ url_for('login') }}'
        });
      {% if error_message %}
          alert("{{ error_message }}");
      {% endif %}
    </script>
  </body>
</html>
